body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#checkersBoard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 20px solid #000; /* Increase the border size to 20px */
}

.cell {
  stroke: #000;
  stroke-width: 1px;
}

.cell.white {
  fill: #ffffff;
}

.cell.black {
  fill: #005d9b;
}

.piece {
  stroke: #000;
  stroke-width: 1px;
}

.piece.red .outer {
  fill: #ffffff; /* Outer circle for red piece */
}

.piece.red .inner {
  fill: #000000; /* Inner circle for red piece */
}

.piece.black .outer {
  fill: #000000; /* Outer circle for black piece */
}

.piece.black .inner {
  fill: #ffffff; /* Inner circle for black piece */
}
